#container-fluid {
    width: 1354px;
    height: 87px;
    background-color: #fff;
    overflow: hidden;
}

.btn-prim {
    background:blue;
    color:blue;
    cursor: pointer;
}

.btn-prim:hover {
    background: red;
}
